name: bifrost
networks:
  {{NETWORK}}:
    external: true
services:
  bifrost:
    image: ghcr.io/archticdev/bifrost:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: runner
    restart: always
    environment:
      SSH_USER: {{SSH_USER}}
      SSH_HOST: {{SSH_HOST}}
    networks:
      {{NETWORK}}:
        aliases:
{{ALIASES}}
    volumes:
      - {{SSH_IDENTITY_FILE}}:/root/ssh.pem:ro
      - ./run.sh:/usr/local/bin/run.sh:ro
      - ./config.yml:/root/config.yml:ro
    command: ["/bin/sh", "/usr/local/bin/run.sh", "/root/config.yml", "/root/ssh.pem"]
{{PORTS}}
